* {
  box-sizing: border-box; }

body {
  margin-top: 40px; }

.dribbble__container {
  display: flex;
  flex-wrap: wrap;
  width: 730px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #F4F4F4;
  align-content: space-around;
  height: 450px; }

.dribbble__item {
  width: 220px;
  height: auto;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07);
  background-color: white; }

.dribbble__image {
  width: 100%; }

.dribbble__caption {
  text-align: right;
  font-weight: 100; }

.dribbble__icon {
  color: #AAA;
  font-size: 13px; }

.dribbble__caption--text {
  color: #AAA;
  font-size: 13px; }
